* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(127, 255, 212, 0.477);
  background-image: url('./assets/pattern-bg.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 1rem;
}

.contenedorInput form {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  
}
.contenedorInput {
  text-align: center;
}
.contenedorInput h1 {
  font-weight: 500;
  color: rgba(255, 255, 255, 0.95);
  padding: 1rem;
}

.contenedorInput button {
  padding: 10px;
background-color: black;
border: none;
border-radius:  0 8px 8px 0;


}

.contenedorInput input {
  border-radius: 8px 0 0 8px;
  border: none;
  width: 350px;
  padding: 8px;
  font-size: 18px;
}

.contenedorInfo {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background-color: aliceblue;
  border-radius: 15px;
  box-shadow: 1px 1px 12px 1px rgba(0, 0, 0, 0.401);
}

.contenedorInfo p {
  font-weight: 500;
  padding: 1rem 0;
font-size: 18px;
color: hsl(0, 0%, 59%);
}

.contenedorInfo h2 {
  padding-bottom: 1rem;
  font-weight: 700;
}

.contenedorInfo div {
  margin: 0 3rem;
  padding: 1rem 0;
  max-width: 30%;
}

@media screen and (max-width: 768px) {

  .container h1 {
    padding-bottom: 2rem;
  }

  .contenedorInput {
    width: 100%;
  }

  .contenedorInput input{
      padding: 15px;
      border-radius: 15px 0 0 15px;
  }

  .contenedorInput button {
    padding: 17px;
    border-radius: 0 15px 15px 0;
  }
  .contenedorInfo {
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-template-columns: 1fr;
    width: 100%;
    text-align: center;
    margin-top: 2rem;
  }

  .contenedorInfo div {
    margin: 0;
    max-width: 90%;
    padding: 0;
  }
}



